.page-contact {
  background-image: url('../images/marketing-office-working-business.jpg');
  background-opacity: 0.1;
  background-size:100%;
  background-repeat: no-repeat;
  background-blend-mode:screen;
  background-color:#D3D3D3;
 }
