.page-contact {
  background-image: url('../images/undraw_connected_world_wuay.svg');
  background-opacity: 0.1;
  background-repeat: no-repeat;
  background-blend-mode:screen;
  background-color:#D3D3D3;
 }
