.page-contact {
  background-image: url('../images/undraw_connected_world_wuay.svg');
  background-opacity: 0.1;
  background-repeat: no-repeat;
.contact-container {
background:rgba(255,255,255,0.5);
}
 }
