.page-debt-list {
  background-image: url('../images/undraw_discount_d4bd.svg');
  background-repeat: no-repeat;
  background-size: 45%;
  background-position: 49px; 
  @include media-breakpoint-up(sm) {
    background-position: 159px;
  }
  @include media-breakpoint-up(md) {
    background-position: 199px;
  }
  @include media-breakpoint-up(lg) {
    background-position: 100% 2%;
  }
}
